<br><strong>Email:</strong>
<h3><%= @user.email %></h3>
<strong>Pan Card:</strong>
<h3><%= @user.user_pan_card %></h3>
<strong>Adhar Card:</strong>
<h3><%= @user.user_adhar_number %></h3>
<strong>Bank Account Number:</strong>
<h3><%= @user.bank_account_number %></h3>
<strong>Ifsc Code:</strong>
<h3><%= @user.bank_account_ifsc %></h3>
<strong>Money Inflow:</strong>
<h3><%= @user.money_inflow_in_account %></h3>
<strong>Money Outflow:</strong>
<h3><%= @user.money_outflow_in_account %></h3>
<h2 style="text-align: center;"><%= link_to "Back", users_path %></h2>

